# Un-tracked Folders
node_modules/
release-builds/
.out/

# Compiled Sources #
####################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
